@font-face {
  font-family: "Poppins";
   src: url('./resources/Poppins_font/Poppins-Black.ttf') format("truetype");
}
html,
body {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
color: #BBADAD;
background-color: #f5efed;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #2292a4;
  padding: 7px 15px;
  font-size: 1.25rem;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  color: #293241;
  box-sizing: border-box;
}
.button:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  padding: 8px 17px;
}

.contact_header {
  background-color: #0f0a0a;
margin: 0;
text-align: center;
}
.contact_navbar {
  padding: calc(0.5vh + 3px) 10px;
display: flex;
justify-content: center;
gap: calc(15px + 1.5vw);
background-color: #0f0a0a;
border-bottom: #2292a4 3px solid;
position: sticky;
top: 0;
flex-wrap: wrap;
}
.contact_header h1 {
  margin: 12px;
  font-size: 2rem;
}

.contact_main {
  margin: calc(3vh + 15px) 0;
}

.form_section {
  border: 3px solid #2292a4;
  box-sizing: border-box;
  max-width: 90%;
  background-color: #0f0a0a;
  margin: calc(15px + 1vh) auto;
  border-radius: 10px;
  text-align: center;
  padding: calc(1vh + 5px) calc(1vw + 5px);
}
.form_section > h2 {

}
#form_box {
  font-size: 1.1rem;
}
.form_text {
  margin: calc(1vh + 3px) 10px;
}
.form_text > input {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #f5efed;
  border: none;
}
.form_radio {
  margin: calc(1vh + 3px) 10px;
}
.form_radio > input{
  background-color: #f5efed;
}
.form_select {
  margin: calc(1vh + 3px) 10px;
}
.form_checkbox {
  margin: calc(1vh + 3px) 10px;
}
.form_checkbox > p {
  margin: 3px 0;
}
.form_checkbox label, .form_radio label {
  font-size: 1rem;
}
.form_radio label:first-of-type {
  font-size: 1.1rem;
}
.form_submit_button {
  margin: calc(1.4vh + 5px);
}

footer {
  margin-top: auto;
  background-color: #0f0a0a;
  text-align: center;
  border-top: #2292a4 3px solid;
  font-size: 1.1rem;
}

@media screen and (max-width: 300px) {
  .contact_navbar a{
    font-size: 0.9rem;
  }
}