@font-face {
    font-family: "Poppins";
     src: url('./resources/Poppins_font/Poppins-Black.ttf') format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #BBADAD;
  background-color: #f5efed;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #2292a4;
  padding: 7px 15px;
  font-size: larger;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  color: #BBADAD;
  box-sizing: border-box;
}
.button:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  padding: 8px 17px;
}

.thanks_section {
  border: 3px solid #BBADAD;
  box-sizing: border-box;
  max-width: 90%;
  background-color: #0f0a0a;
  margin: 15vh auto;
  border-radius: 10px;
  text-align: center;
  padding: calc(3vh + 20px) calc(1vw + 5px);
}

footer {
  margin-top: auto;
  background-color: #0f0a0a;
  text-align: center;
  font-size: large;
  border-top: #2292a4 3px solid;
}
